$font-color: #202020;
$font-light-color: #eee;
$font-dark-color: #777;
$background-color: #fff;
$hover-color: #ddd;
$border-color: #ddd;
$primary-color: #8B5FBF;
$primary-color-darker: #863cda;
$secondary-color: #5b2599;

$primary-color-2: #63e4fb;
$primary-color-2-darker: #2ca97f;
$side-panel-width: 22rem;